.header {
  background-color: #DDD;
  height: 130px;
  text-align: center;
  padding-top: 20px;
}
.header img{
  height: 100px;
}
.cyrcle{
  border: 1px solid ;
  width: 35px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #0b9bfe;
  color: #FFF;
  border-color: #0b9bfe;
  margin: 0 auto;
}
