<div class="container-fluid">
  <div class="desc">
    <h1>Upload Your Invoice Now</h1>
    <p>Upload your invoice as an Excel sheet with extensions .xls or .xlsx</p>
    <div class="upload-container">
      <div class="upload-btn-wrapper">
        <button class="btn btn-success main-button">Select An EXCEL File</button>
        <input type="file" name="file" id="fileInput" (change)="getFile($event)" />
      </div>
      <div class="clouds mx-2">
        <div class="dropbox my-1">
          <button (click)="chooseFromDropbox()"><i class="fa-brands fa-dropbox"></i></button>
        </div>
        <div class="g-drive">
          <button (click)="openGooglePicker()"><i class="fa-brands fa-google-drive"></i></button>
        </div>
      </div>
    </div>
    <div id="dropArea" class="drop-area" *ngIf="!file">
      <input type="file" (change)="getFile($event)"/>
      <h6>Drag and Drop your Invoice her</h6>
    </div>
    <div *ngIf="file">
      <h4>file name: {{file.name}}</h4>
      <p>size: {{file.size}}</p>
      <button class="btn btn-danger mx-2 my-2" (click)="file=undefined">Clear file</button>
      <button class="btn btn-primary mx-2" (click)="uploadFile()">Next Step</button>
    </div>

    <a routerLink="/invoicemgm">Add your invoice manually insteed</a>

  </div>
</div>
