<footer id="colophon" class="site-footer">
  <div class="theme-container">
    <div id="footer-widget-area">
      <div id="first" class="first-widget footer-widget">
        <aside id="footercontactuswidget-1" class="widget widgets-footercontact">
          <ul>
            <li>
              <div class="contact_wrapper">
                <div class="email">
                  <span class="icon-image"><i class="fa-regular fa-envelope"></i></span>
                  <div class="contact_email"><a href="#" target="_blank">
                      moaaz.eldesoky1&#64;gmail.com</a>
                  </div>
                </div>
                <div class="address">
                  <span class="icon-image"><i class="fa-solid fa-location-dot"></i></span>
                  <div class="address_content">
                    <div class="contact_address">Aboatwa Street, Dekernes, Masoura, Dakahlia, Egypt
                    </div>
                  </div>
                </div>
                <div class="phone">
                  <span class="icon-image"><i class="fa-solid fa-phone-volume"></i></span>
                  <div class="contact_phone">Call Us : 011-4177-1228</div>
                </div>
              </div>
            </li>
          </ul>
        </aside>
      </div>
      <!-- #first .widget-area -->
      <div id="second" class="second-widget footer-widget">
        <aside id="footeraboutwidget-1" class="widget widgets-about">
          <div class="home-about-me hb-animate-element left-to-right">
            <div class="tmpmela-about-text">
              <a href="#" target="_blank">
                <img
                  src="assets/Logo.png"
                  alt="home-about-us" class="vv">
              </a>
            </div>
          </div>
        </aside>
        <aside id="followmewidget-1" class="widget widgets-follow-us">
          <div class="title-outer">
            <h3 class="widget-title">Follow Us</h3>
          </div>
          <div id="follow_us" class="follow-us">
            <ul class="toggle-block">
              <li>
                <a href="#" title="Facebook" class="facebook icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" title="Twitter" class="twitter icon"><i class="fa-brands fa-twitter"></i></a>

                <a href="#" title="Linkedin" class="linkedin icon"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#" title="Youtube" class="youtube icon"><i class="fa-brands fa-youtube"></i></a>

                <a href="#" title="Pinterest" class="pinterest icon"><i class="fa-brands fa-pinterest"></i></a>
                <a href="#" title="Google Plus " class="google-plus icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" title="Skype" class="skype icon"><i class="fa-brands fa-skype"></i></a>
                <a href="#" title="Instagram" class="instagram icon"><i class="fa-brands fa-instagram"></i></a>

              </li>
            </ul>
          </div>
        </aside>
      </div>
      <!-- #second .widget-area -->

    </div>
    <div class="footer-bottom">
      <div class="footer-center">

        <div class="footer-menu-links">
          <ul id="menu-mainmenu-2" class="footer-menu">
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-212 current_page_item menu-item-10933">
              <a href="https://wordpressthemes.live/woo2/WCM02/WCM020033/WP01/" aria-current="page">Home</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10884"><a
                href="https://wordpressthemes.live/woo2/WCM02/WCM020033/WP01/shop/">Shop</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10937"><a
                href="https://wordpressthemes.live/woo2/WCM02/WCM020033/WP01/blog/">Blog</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10941"><a
                href="https://wordpressthemes.live/woo2/WCM02/WCM020033/WP01/media/">Media</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10916"><a
                href="#">ShortCode</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10908"><a
                href="https://wordpressthemes.live/woo2/WCM02/WCM020033/WP01/features/">Features</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10931"><a
                href="https://wordpressthemes.live/woo2/WCM02/WCM020033/WP01/about-us/">About Us</a></li>
          </ul>
        </div><!-- #footer-menu-links -->

        <div class="site-info"> Copyright © 2024 Mo3az Eldesoky </div>
      </div>
    </div>
  </div>
</footer>
